<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>Portfolio</title>
</head>

<body>
  <h1>Portfolio</h1>

  <a
  target="_blank"
  href="https://www.youtube.com/watch?v=rJ1iA-33fss">
    <img
      src="https://avatars.githubusercontent.com/u/50515418?v=4"
      width="400"
      height="100%"
      alt="photo">
  </a>

  <p>
    <h2 style="color:blue">
      College :
    </h2>

    <a href="https://www.rietjaipur.ac.in/">
      <h4>
        Rajasthan Institute of Engineering and Technology, Jaipur.
      </h4>
    </a>

  </p>

  <iframe
    width="420"
    height="360"
    src="https://www.youtube.com/embed/{{vid}}">
  </iframe>

</body>
</html>
