
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="icon" href="static/wings.png">
        <title>Portfolio</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </head>

    <body>
        <center>
            
            <div class="jumbotron">
                <div class="container">
                    <div class="alert alert-danger" role="alert">
                        <h1>
                            <strong>
                                <em style="color:rgb(202, 19, 28);">
                                    This is Video : {{vid}}
                                </em>
                            </strong>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="jumbotron">
                <div class="container">
                    <iframe
                        width="720" height="405"
                        allow="autoplay; encrypted-media" allowfullscreen
                        src="https://www.youtube.com/embed/{{vid}}?autoplay=1">
                    </iframe>
                </div>
            </div>

        </center>
    </body>
</html>